.DS_Store
target/
node_modules/
.settings
build/
.yarn
.classpath
.factorypath
.project
.idea/
*.iml
*.swp
pom.xml.versionsBackup
ts_setup/gamut/demo-app/theme/user_logo_dark.svg
ts_setup/gamut/demo-app/theme/user_logo_light.svg
ts_setup/eveli-ide/demo-app/theme/user_logo_light.svg
